{% extends "meta.html" %}
{% block body %}
<div class="row">
  <div class="large-12 columns">
    <ul data-orbit data-options="timer_speed: 5000; resume_on_mouseout: true; navigation_arrows: false; slide_number: false;">
      <li><img src="http://www.engr.psu.edu/eon/2013/media/carousel-logo.png" alt="EON"></li>
      <li><img src="http://www.engr.psu.edu/eon/2013/media/carousel-mentors.jpg" alt="Mentors"></li>
      <li><img src="http://www.engr.psu.edu/eon/2013/media/carousel-board.jpg" alt="Board"></li>
      <li><img src="http://www.engr.psu.edu/eon/2013/media/carousel-tour.jpg" alt="Tour"></li>
      <li><img src="http://www.engr.psu.edu/eon/2013/media/carousel-lunch.jpg" alt="Lunch"></li>
      <li><img src="http://www.engr.psu.edu/eon/2013/media/carousel-hammond.jpg" alt="Hammond"></li>
      <li><img src="http://www.engr.psu.edu/eon/2013/media/carousel-networking.jpg" alt="Networking"></li>
    </ul>
  </div>
</div>
{% endblock %}
