<div class="fixed"><nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/eon/2014">EON</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a>Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li class="has-dropdown">
        <a href="/eon/2014/about/">About</a>
        <ul class="dropdown">
          <li><a href="/eon/2014/about/">Overview</a></li>
          <li><a href="/eon/2014/about/board.htm">Board</a></li>
          <li><a href="/eon/2014/about/head_mentors.htm">Head mentors</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="/eon/2014/first-year/">First-year students</a>
        <ul class="dropdown">
          <li><a href="/eon/2014/first-year/why.htm">Why join EON?</a></li>
          <li><a href="/eon/2014/first-year/orientation.htm">Orientation</a></li>
          <li><a href="/eon/2014/first-year/networking.htm">Networking</a></li>
          <li><a href="/eon/2014/first-year/registration.htm">Registration</a></li>
        </ul>
      </li>
      <li><a href="/eon/2014/mentors.htm">Mentors</a></li>
      <li><a href="/eon/2014/calendar.htm">Calendar</a></li>
      <li><a href="/eon/2014/links.htm">Links</a></li>
      <li><a href="/eon/2014/history.htm">History</a></li>
    </ul>

    <ul class="right">
      <li><a href="/eon/2014/corporate.htm">Corporate</a></li>
      <li><a href="/eon/2014/contact.htm">Contact us</a></li>
    </ul>
  </section>
</nav></div>
